# Global code owner
* @novusnota

# DevOps & Maintainance
/.github/  @novusnota

# Core implementations, like cpp/ are maintained collectively via PRs.
# Every code owner of a particular implementation can help with that, but in any case
# @novusnota will be reviewing PRs daily, from 18:00 to 20:00 UTC+0.

# Code Owners of particular implementations
/impl/bash-aretrosen/          @aretrosen
/impl/bash-vgel/               @vgel
/impl/c-boreddad/              @boreddad
/impl/c-zivlakmilos/           @zivlakmilos
/impl/chatgpt-unconv/          @unconv
/impl/cobol-kkard2             @kkard2
/impl/clojure-Vikasg7          @Vikasg7
/impl/crystal-devnote-dev/     @devnote-dev
/impl/csharp-MarioGK/          @MarioGK
/impl/d-ToraKuma42/            @ToraKuma42
/impl/dart-shreyassanthu77/    @shreyassanthu77
/impl/elixir-ryanwinchester/   @ryanwinchester
/impl/erlang-mikimaine/        @mikimaine
/impl/fortran-greuben92/       @greuben92
/impl/fsharp-meenzen/          @meenzen
/impl/haskell-newmaidumosa/    @newmaidumosa
/impl/java-xNaCly/             @xNaCly
/impl/javascript-trvswgnr/     @trvswgnr
/impl/julia-rezaarezvan/       @rezaarezvan
/impl/kotlin-ekgame/           @ekgame
/impl/kotlin-PossessedC0bra/   @PossessedC0bra
/impl/kotlin-hermannm/         @hermannm
/impl/lua-aretrosen/           @aretrosen
/impl/luajit-Okanoa/           @Okanoa
/impl/nim-Echriser/            @Echriser
/impl/nix-figsoda/             @figsoda
/impl/odin-jon-lipstate/       @jon-lipstate
/impl/pascal-attilakapostyak/  @attilakapostyak
/impl/reason-lessp/            @lessp
/impl/php-wartab/              @wartab
/impl/prolog-Kaixi26/          @Kaixi26
/impl/python-BatikanHyt/       @BatikanHyt
/impl/roc-bhansconnect/        @bhansconnect
/impl/ruby-ayatofrench/        @ayatofrench
/impl/swift-marcusziade/       @marcusziade
/impl/typescript-pIneple/      @pIneple
/impl/vlang-FalconEthics/      @FalconEthics
/impl/unison-cobaltburn/       @cobaltburn
/impl/x64_nasm-Sirraide/       @Sirraide
