# Global code owner
* @novusnota

# DevOps & Maintainance
/.github/  @novusnota

# Core implementations, like cpp/ are maintained collectively via PRs.
# Every code owner of a particular implementation can help with that, but in any case
# @novusnota will be reviewing PRs daily, from 18:00 to 20:00 UTC+0.

# Code Owners of particular implementations
/bash-aretrosen/          @aretrosen
/bash-vgel/               @vgel
/c-boreddad/              @boreddad
/c-zivlakmilos/           @zivlakmilos
/chatgpt-unconv/          @unconv
/cobol-kkard2             @kkard2
/crystal-devnote-dev/     @devnote-dev
/csharp-MarioGK/          @MarioGK
/dart-shreyassanthu77/    @shreyassanthu77
/elixir-ryanwinchester/   @ryanwinchester
/erlang-mikimaine/        @mikimaine
/fortran-greuben92/       @greuben92
/fsharp-meenzen/          @meenzen
/haskell-newmaidumosa/    @newmaidumosa
/java-xNaCly/             @xNaCly
/julia-rezaarezvan/       @rezaarezvan
/kotlin-ekgame/           @ekgame
/kotlin-PossessedC0bra/   @PossessedC0bra
/kotlin-hermannm/         @hermannm
/lua-aretrosen/           @aretrosen
/nim-Echriser/            @Echriser
/nix-figsoda/             @figsoda
/odin-jon-lipstate/       @jon-lipstate
/pascal-attilakapostyak/  @attilakapostyak
/php-wartab/              @wartab
/python-BatikanHyt/       @BatikanHyt
/roc-bhansconnect/        @bhansconnect
/ruby-ayatofrench/        @ayatofrench
/swift-marcusziade/       @marcusziade
/typescript-pIneple/      @pIneple
/vlang-FalconEthics/      @FalconEthics
